{include file="Public/head_base" /}

{include file="Public/menu" /}

<div class="mainpanel">
    {include file="Public/headerbar" /}
    <div class="pageheader">
        <h2><i class="fa fa-table"></i> 模型管理 <a class="btn btn-danger" href="{:url('index/moulds/add')}">添加模型</a></h2>
        <div class="breadcrumb-wrapper">
            <span class="label">当前位置:</span>
            <ol class="breadcrumb">
                <li><a href="/moulds">模型管理</a></li>
                <li class="active">模型管理</li>
            </ol>
        </div>
    </div>

    <div class="contentpanel">

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-success table-striped mb10">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>排序</th>
                            <th>图标</th>
                            <th>模型名称</th>
                            <th>附加表名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="list" id="vo" mod="2"}
                        {eq name="mod" value="0"}
                        <tr class="gradeA odd">
                            {else/}
                        <tr class="gradeA even">
                            {/eq}
                            <td>{$vo.id}</td>
                            <td>{$vo.sort}</td>
                            <td><span class="fa {$vo.icon}"></span> </td>
                            <td>{$vo.name}</td>
                            <td>{$vo.table}</td>
                            <td>
                                <a class="fa fa-list-alt" href="{:url('index/fields/index',['mid'=>$vo.id])}"></a>
                                <a class="fa fa-edit" href="{:url('index/moulds/edit',['id'=>$vo.id])}"></a>
                                <a class="fa fa-trash-o" href="{:url('index/moulds/del',['id'=>$vo.id])}"></a>
                            </td>
                        </tr>
                        {/volist}

                        </tbody>
                    </table>
                </div><!-- table-responsive -->
            </div>
            <!-- col-md-12 -->

        </div><!-- row -->
    </div><!-- contentpanel -->

</div><!-- mainpanel -->


{include file="Public/footer_base" /}
