{include file="Public/head_base" /}

	{include file="Public/menu" /}

	<div class="mainpanel">
    
    {include file="Public/headerbar" /}
        
    <div class="pageheader">
      <h2><i class="fa fa-table"></i> 地区管理 <a class="btn btn-danger" href="{:url('index/areas/add',['parent_id'=>$parent_id,'level'=>$level])}">添加地区</a></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">当前位置:</span>
        <ol class="breadcrumb">
          <li><a href="/areas">地区管理</a></li>
          <li class="active">地区管理</li>
        </ol>
      </div>
    </div>
    
    <div class="contentpanel">
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="" class="panel-close">×</a>
            <a href="" class="minimize">−</a>
          </div>
          <h4 class="panel-title">地区编辑</h4>
         
        </div>
        <div class="panel-body panel-body-nopadding" style="display: block;">
          
          <form method="post" name="myForm" class="form-horizontal form-bordered">
            <input type="hidden" name="level" value="{$level}">
            <input type="hidden" name="parent_id" value="{$parent_id}">
            <div class="form-group">
              <label class="col-sm-3 control-label">地区名：</label>
              <div class="col-sm-6">
                <input type="text" placeholder="地区名" name="name" value="{if isset($temp1['name'])}{$temp1['name']}{/if}" class="form-control">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">地区简称：</label>
              <div class="col-sm-6">
                <input type="text" placeholder="地区简称" name="short_name" value="{if isset($temp1['short_name'])}{$temp1['short_name']}{/if}" class="form-control">
              </div>
            </div>
            
            <div class="form-group">
				  <label class="col-sm-3 control-label" for="disabledinput">上级</label>
				  <div class="col-sm-6">
					 <select class="form-control mb15" disabled>
                  		<option>{if empty($temp.name)}中国{else}{$temp.name}{/if}</option>
                	</select>
				  </div>
			</div>
           
            <div class="form-group">
              <label class="col-sm-3 control-label">排序：</label>
              <div class="col-sm-6">
                <input type="text" placeholder="排序" name="sort" value="{if isset($temp1['sort'])}{$temp1['sort']}{/if}" class="form-control">
              </div>
            </div>
          
             <div class="form-group">
              <label class="col-sm-3 control-label">经度：</label>
              <div class="col-sm-6">
                <input type="text" placeholder="经度" name="longitude" value="{if isset($temp1['longitude'])}{$temp1['longitude']}{/if}" class="form-control">
              </div>
            </div>
            
             <div class="form-group">
              <label class="col-sm-3 control-label">纬度：</label>
              <div class="col-sm-6">
                <input type="text" placeholder="纬度" name="latitude" value="{if isset($temp1['latitude'])}{$temp1['latitude']}{/if}" class="form-control">
              </div>
            </div>
            
            <div class="panel-footer" style="display: block;">
				 <div class="row">
					<div class="col-sm-6 col-sm-offset-3">
				
					  <button class="btn btn-primary" type="submit">提交</button>&nbsp;
					  <button class="btn btn-default" type="reset">取消</button>
					</div>
				 </div>
			  </div><!-- panel-footer -->

		  </div>
            
          </form>
          
      </div><!-- panel-body -->
        
        
      <!-- row --> 
    </div><!-- contentpanel -->
    
  </div><!-- mainpanel -->



{include file="Public/footer_base" /}



