{include file="Public/head_base" /}

	{include file="Public/menu" /}

	<div class="mainpanel">
    
    {include file="Public/headerbar" /}
        
    <div class="pageheader">
      <h2><i class="fa fa-table"></i> 用户管理 <a class="btn btn-danger" href="{:url('index/account/add')}">添加用户</a></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">当前位置:</span>
        <ol class="breadcrumb">
          <li><a href="/account">用户管理</a></li>
          <li class="active">用户管理</li>
        </ol>
      </div>
    </div>
    
    <div class="contentpanel">
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="" class="panel-close">×</a>
            <a href="" class="minimize">−</a>
          </div>
          <h4 class="panel-title">用户编辑</h4>
         
        </div>
        <div class="panel-body panel-body-nopadding" style="display: block;">
          
          <form method="post" name="myForm" class="form-horizontal form-bordered">
            
            <div class="form-group">
              <label class="col-sm-3 control-label">用户名：</label>
              <div class="col-sm-6">
                <input type="text" placeholder="用户名" name="user" value="{if isset($temp['user'])}{$temp['user']}{/if}" class="form-control">
              </div>
            </div>
            
            <div class="form-group">
				  <label class="col-sm-3 control-label" for="disabledinput">密码</label>
				  <div class="col-sm-6">
					 <input type="password" name="pwd" placeholder="新密码" class="form-control">
				  </div>
			</div>
           
           <div class="form-group">
				  <label class="col-sm-3 control-label" for="disabledinput">再次输入密码</label>
				  <div class="col-sm-6">
					 <input type="password" name="newpwd"  placeholder="再次输入密码" class="form-control">
				  </div>
			</div>
                                   
            <div class="panel-footer" style="display: block;">
				 <div class="row">
					<div class="col-sm-6 col-sm-offset-3">
				
					  <button class="btn btn-primary" type="submit">提交</button>&nbsp;
					  <button class="btn btn-default" type="reset">取消</button>
					</div>
				 </div>
			  </div><!-- panel-footer -->

		  </div>
            
          </form>
          
      </div><!-- panel-body -->
        
        
      <!-- row --> 
    </div><!-- contentpanel -->
    
  </div><!-- mainpanel -->

{include file="Public/footer_base" /}


