<div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
    <h4 class="modal-title">编辑会员名片</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form method="post" name="myForm" class="form-horizontal form-bordered">
                {volist name="cardformhtml" id="vo" mod="2"}
                <div class="form-group">
                    <label class="col-sm-3 control-label">{$vo['itemname']}：</label>
                    <div class="col-sm-6"  {if $vo['itemname']=='内容'}style="position: initial"{/if} >
                        {$vo['html']}
                    </div>
                </div>
                {/volist}

                <div class="panel-footer" style="display: block;">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="btn btn-primary" id="updata" type="submit">提交</button>&nbsp;
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div><!-- panel-footer -->
            </form>
        </div>
    </div>
    <!-- col-md-12 -->
</div>
</div>
