{include file="Public/head_base" /}

{include file="Public/menu" /}

<div class="mainpanel">
    {include file="Public/headerbar" /}
    <div class="pageheader">
        <h2><i class="fa fa-table"></i> {$mould.name}管理 <a class="btn btn-danger" href="{$url['add']}">添加{$mould.name}</a></h2>
        <div class="breadcrumb-wrapper">
            <span class="label">当前位置:</span>
            <ol class="breadcrumb">
                <li><a href="{$url['index']}">{$mould.name}管理</a></li>
                <li class="active">{$mould.name}管理</li>
            </ol>
        </div>
    </div>

    <div class="contentpanel">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="" class="panel-close">×</a>
                    <a href="" class="minimize">−</a>
                </div>
                <h4 class="panel-title">搜索</h4>
            </div>
            <div method="post" class="panel-body">
                <form method="get" name="myForm" class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail2">姓名或手机</label>
                        <input type="text" name="query" class="form-control" id="exampleInputEmail2" placeholder="姓名或手机">
                    </div>

                    <button type="submit" class="btn btn-primary">搜索</button>

                </form>
            </div><!-- panel-body -->
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-success table-striped mb10">
                        <thead>
                        <tr>
                            <th>ID</th>
                            {volist name="field" id="vo" mod="2"}
                            {if $vo.islist ==0}
                            <th>{$vo.itemname}</th>
                            {/if}
                            {/volist}
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        {volist name="list" id="vo" mod="2"}
                        {eq name="mod" value="0"}
                        <tr class="gradeA odd">
                            {else/}
                        <tr class="gradeA even">
                            {/eq}
                            <td>{$vo.id}</td>
                            {volist name="field" id="val" mod="2"}
                            {if $val.islist ==0}
                            <td>{$vo[$val.fieldname]}</td>
                            {/if}
                            {/volist}
                            <td>{:date('Y-m-d',$vo.update)}</td>
                            <td>
                                <a class="fa fa-shopping-cart" title="添加订单" href="{:url('admin/members/order',['mid'=>$vo.id])}" data-toggle="modal" data-target=".bs-example-modal-photo"></a>
                                <a class="fa fa-credit-card" title="名片" href="{:url('admin/members/card',['mid'=>$vo.id])}" data-toggle="modal" data-target=".bs-example-modal-photo"></a>
                                <a class="fa fa-edit" href="{$vo.edit}"></a>
                                <a class="fa fa-trash-o" href="{$vo.del}"></a>
                            </td>
                        </tr>
                        {/volist}

                        </tbody>
                    </table>
                    {if $isPage}
                    {$list->render()}
                    {/if}
                </div><!-- table-responsive -->
            </div>
            <!-- col-md-12 -->

        </div><!-- row -->
    </div><!-- contentpanel -->

</div><!-- mainpanel -->



<div id="myModal" class="modal fade bs-example-modal-photo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">


        </div>
    </div>
</div>


{include file="Public/footer_base" /}

<script>
    jQuery(document).ready(function(){

        $("#myModal").on("hidden.bs.modal", function() {
            $(this).removeData("bs.modal");
        });

    });
</script>