<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>{$title}</title>
<link href="/template/css/style.default.css" rel="stylesheet">
<link href="/template/css/jquery.datatables.css" rel="stylesheet">
<link href="/template/css/prettyPhoto.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>

<style>
.signinpanel{
	max-width:680px;
}
#verify_img {
	margin-top: 15px;
}
</style>
<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>