<script src="/template/js/jquery-1.11.1.min.js"></script>
<script src="/template/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/template/js/jquery-ui-1.10.3.min.js"></script>
<script src="/template/js/bootstrap.min.js"></script>
<script src="/template/js/modernizr.min.js"></script>
<script src="/template/js/jquery.sparkline.min.js"></script>
<script src="/template/js/toggles.min.js"></script>
<script src="/template/js/retina.min.js"></script>
<script src="/template/js/jquery.cookies.js"></script>

<!--<script src="/template/js/flot/jquery.flot.min.js"></script>
<script src="/template/js/flot/jquery.flot.resize.min.js"></script>
<script src="/template/js/flot/jquery.flot.spline.min.js"></script>-->
<script src="/template/js/morris.min.js"></script>
<script src="/template/js/raphael-2.1.0.min.js"></script>
<script src="/template/js/custom.js"></script>
<!--<script src="/template/js/dashboard.js"></script>-->

