{include file="Public/head_base" /}

	{include file="Public/menu" /}

	<div class="mainpanel">
    
    {include file="Public/headerbar" /}
        
    <div class="pageheader">
      <h2><i class="fa fa-table"></i> 文章管理 <a class="btn btn-danger" href="{:url('index/articles/add')}">添加文章</a></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">当前位置:</span>
        <ol class="breadcrumb">
          <li><a href="/articles">文章管理</a></li>
          <li class="active">文章管理</li>
        </ol>
      </div>
    </div>
    
    <div class="contentpanel">
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="" class="panel-close">×</a>
            <a href="" class="minimize">−</a>
          </div>
          <h4 class="panel-title">搜索</h4>
        </div>
        <div method="post" class="panel-body">
      
           <form method="post" name="myForm" class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">内容</label>
              <input type="text" name="content" class="form-control" id="exampleInputEmail2" placeholder="内容">
            </div>
          	<div class="form-group">
          		<label class="sr-only" for="exampleInputEmail2">栏目</label>
				<select class="form-control" name="sid">
                 	<option value="0" selected>顶级栏目</option>
                  	{volist name="psort" id="vo"}
                  	<option value="{$vo.id}">{$vo.name}</option>
                  	{/volist}
                </select>
          	</div>
          	<div class="form-group">
          		<label class="sr-only" for="exampleInputEmail2">地区</label>
				<select class="form-control" id="area1">
                  	{volist name="area1" id="vo"}
                  	<option value="{$vo.id}" {if isset($area[1]) && $vo.id==$area[1]}selected{/if}>{$vo.name}</option>
                  	{/volist}
                </select>
                
                <select class="form-control" id="area2" >
                  	{volist name="area2" id="vo"}
                  	<option value="{$vo.id}" {if isset($area[2]) && $vo.id==$area[2]}selected{/if}>{$vo.name}</option>
                  	{/volist}
                </select>
                
               	<select class="form-control" id="area3" >
                  	{volist name="area3" id="vo"}
                  	<option value="{$vo.id}" {if isset($area[3]) && $vo.id==$area[3]}selected{/if}>{$vo.name}</option>
                  	{/volist}
                </select>
               
               	<select class="form-control" id="area4" >
                  	{volist name="area4" id="vo"}
                  	<option value="{$vo.id}" {if isset($area[4]) && $vo.id==$area[4]}selected{/if}>{$vo.name}</option>
                  	{/volist}
                </select>
                <input type="hidden" name="aid" value="" id="area">	
          	</div>
  
			<button type="submit" class="btn btn-primary">搜索</button>
            
          </form>
        </div><!-- panel-body -->
      </div>
     
      
      <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-success table-striped mb10">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>栏目</th>
                        <th>乡镇</th>
						<th>会员</th>
                        <th>手机</th>
						<th>内容</th>
                     	<th>添加时间</th>
                     	<th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                     {volist name="list" id="vo" mod="2"}
                     {eq name="mod" value="0"}
                  	 <tr class="gradeA odd">
                  	 {else/}
                  	 <tr class="gradeA even">
                     {/eq}
                        <td>{$vo.id}</td>
                        <td>{$vo.sort.name}</td>
                        <td>{$vo.area.name}</td>
                        <td>{$vo.member.nickname}</td>
                        <td>{$vo.phone}</td>
                        <td>{$vo.content|msubstr=0,20,'utf-8',false}</td>
                        <td>{:date('Y-m-d',$vo.addtime)}</td>
                        <td><a class="fa fa-edit" href="{:url('index/articles/edit',['id'=>$vo.id])}"></a>   <a class="fa fa-trash-o" href="{:url('index/articles/del',['id'=>$vo.id])}"></a></td>
                      </tr>
                      {/volist}
                     
                    </tbody>
                </table>
                {$list->render()}
            </div><!-- table-responsive -->
        </div> 
        <!-- col-md-12 -->
        
      </div><!-- row --> 
    </div><!-- contentpanel -->
    
  </div><!-- mainpanel -->




{include file="Public/footer_base" /}
<script>
    jQuery(document).ready(function() {
          
		$("#area1").change(function(){
			selectarea(2,$("#area1").val());
		});
		$("#area2").change(function(){
			selectarea(3,$("#area2").val());
		});
		
		$("#area3").change(function(){
			selectarea(4,$("#area3").val());
		});
		
		$("#area4").change(function(){
			$("#area").val($(this).val())
		});
		
		function selectarea(type,supid){
			
			$.get("/magents/getajaxarea/type/"+type+"/supid/"+supid,function(data,status){
				var html='';
				for(var i=0;i<+data.length;i++)
				{
					html +='<option value=\"'+data[i].id+'\">'+data[i].name+'</option>';
				}
				$("#area"+(type)).html(html);
				if(type==2){
					if(html==''){	
						$("#area"+(type+1)).html(html);
						$("#area").val(supid);
					}else{	
						selectarea(3,data[0].id);	
					}
						
				}
				if(type==3)
				{
					if(html==''){	
						$("#area").val(supid)
					}else{	
						$("#area").val([data[0].id])
						selectarea(4,data[0].id)	
					}
				}
				if(type==4)
				{
					if(html==''){	
						$("#area").val(supid)
					}else{	
						$("#area").val([data[0].id])
						//selectarea(3,data[0].id)	
					}
				}
			});
		}
	});
</script>