{include file="Public/head_base" /}

{include file="Public/menu" /}

<div class="mainpanel">

    {include file="Public/headerbar" /}

    <div class="pageheader">
        <h2><i class="fa fa-table"></i> {$mould.name}管理 <a class="btn btn-danger" href="{$url['add']}">添加{$mould.name}</a></h2>
        <div class="breadcrumb-wrapper">
            <span class="label">当前位置:</span>
            <ol class="breadcrumb">
                <li><a href="{$url['index']}">{$mould.name}管理</a></li>
                <li class="active">{$mould.name}管理</li>
            </ol>
        </div>
    </div>

    <div class="contentpanel">

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-success table-striped mb10">
                        <thead>
                        <tr>
                            <th>ID</th>
                            {volist name="field" id="vo" mod="2"}
                            <th>{$vo.itemname}</th>
                            {/volist}
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="list" id="vo" mod="2"}
                        {eq name="mod" value="0"}
                        <tr class="gradeA odd">
                            {else/}
                        <tr class="gradeA even">
                            {/eq}
                            <td>{$vo.id}</td>
                            {volist name="field" id="val" mod="2"}
                            <td>
                            {if $val.fieldname == 'shopimg'}
                            <div class="thmb-prev">
                                <a href="{$vo[$val.fieldname]}" class="fa fa-file-image-o" data-rel="prettyPhoto">
                                </a>
                            </div>
                            {else}
                            {$vo[$val.fieldname]}
                            {/if}
                            </td>
                            {/volist}

                            <td>{:date('Y-m-d',$vo.update)}</td>
                            <td>
                                <a class="fa fa-edit" href="{$vo.edit}"></a>
                                <a class="fa fa-trash-o" href="{$vo.del}"></a>
                            </td>
                        </tr>
                        {/volist}

                        </tbody>
                    </table>
                    {$list->render()}
                </div><!-- table-responsive -->
            </div>
            <!-- col-md-12 -->

        </div><!-- row -->
    </div><!-- contentpanel -->

</div><!-- mainpanel -->

{include file="Public/footer_base" /}
<script src="/template/js/jquery.prettyPhoto.js"></script>


<script>
jQuery(document).ready(function(){

  jQuery("a[data-rel^='prettyPhoto']").prettyPhoto();

  $("#myModal").on("hidden.bs.modal", function() {
    $(this).removeData("bs.modal");
  });

});
</script>
