{include file="Public/head_base" /}

	{include file="Public/menu" /}

	<div class="mainpanel">
    
    {include file="Public/headerbar" /}
        
    <div class="pageheader">
      <h2><i class="fa fa-table"></i> 提现管理 </h2>
      <div class="breadcrumb-wrapper">
        <span class="label">当前位置:</span>
        <ol class="breadcrumb">
          <li><a href="/withdraws">提现管理</a></li>
          <li class="active">提现管理</li>
        </ol>
      </div>
    </div>
    
    <div class="contentpanel">
      
      <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-success table-striped mb10">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>代理id</th>
						<th>金额</th>
                        <th>处理时间</th>
                        <th>状态</th>
                        <th>添加时间</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                     {volist name="list" id="vo" mod="2"}
                     {eq name="mod" value="0"}
                  	 <tr class="gradeA odd">
                  	 {else/}
                  	 <tr class="gradeA even">
                     {/eq}
                        <td>{$vo.id}</td>
                        <td>{$vo.agent.name}</td>
                        <td>{$vo.money}元</td>
                        <td>{if $vo.handltime ==0}没处理{else}{:date('Y-m-d',$vo.handltime)}{/if}</td>
                        <td>{if $vo.status == 0}<span class="label label-primary">未支付</span>{elseif $vo.status == 1}<span class="label label-success">已支付</span>{elseif $vo.status == 2}<span class="label label-danger">拒绝支付</span>{/if}</td>
                        <td>{:date('Y-m-d',$vo.addtime)}</td>
                        <td>
                        	{if $vo.status == 0}
                        	<a href="javascript:;" onclick="u.payment('{$vo.id}');">支付</a> 
                            <a href="javascript:;" onclick="u.refuse('{$vo.id}');">拒绝</a>
                            {elseif $vo.status == 1}
                        	支付
                            拒绝
                            {elseif $vo.status == 2}
                            <a href="javascript:;" onclick="u.payment('{$vo.id}');">支付</a> 
                            拒绝
                            {/if}
                        	<!--<a class="fa fa-edit" href="{:url('index/account/edit',['id'=>$vo.id])}"></a>
                        	<a class="fa fa-trash-o" href="{:url('index/account/del',['id'=>$vo.id])}"></a>-->
                        
                        </td>
                      </tr>
                      {/volist}
                     
                    </tbody>
                </table>
                {$list->render()}
            </div><!-- table-responsive -->
        </div> 
        <!-- col-md-12 -->
        
      </div><!-- row --> 
    </div><!-- contentpanel -->
    
  </div><!-- mainpanel -->



<script type="text/javascript">
	var u ={};
	u.payment = function(id){
		var id = parseInt(id);
		if(isNaN(id)) {
			return;
		}
		if(!confirm('确认要支付吗? ')) {
			return;
		}
		$.post('/withdraws/setStatus/id/'+id, {status: 1}, function(dat){
			if(dat == 'success') {
				location.href = location.href;
			} else {
				util.message('操作失败, ' + dat);
			}
		});
	};
	u.refuse = function(id){
		var id = parseInt(id);
		if(isNaN(id)) {
			return;
		}
		if(!confirm('确认要拒绝支付吗? ')) {
			return;
		}
		$.post('/withdraws/setStatus/id/'+id, {status: 2}, function(dat){
			if(dat == 'success') {
				location.href = location.href;
			} else {
				util.message('操作失败, ' + dat);
			}
		});
	};
</script>

{include file="Public/footer_base" /}
