{include file="Public/head_base" /}

	{include file="Public/menu" /}

	<div class="mainpanel">
    
    {include file="Public/headerbar" /}
        
    <div class="pageheader">
      <h2><i class="fa fa-table"></i> 栏目管理 <a class="btn btn-danger" href="{:url('index/sorts/add')}">添加栏目</a></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">当前位置:</span>
        <ol class="breadcrumb">
          <li><a href="/sorts">栏目管理</a></li>
          <li class="active">栏目管理</li>
        </ol>
      </div>
    </div>
    
    <div class="contentpanel">
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="" class="panel-close">×</a>
            <a href="" class="minimize">−</a>
          </div>
          <h4 class="panel-title">栏目编辑</h4>
         
        </div>
        <div class="panel-body panel-body-nopadding" style="display: block;">
          
          <form method="post" name="myForm" class="form-horizontal form-bordered">
            
            <div class="form-group">
              <label class="col-sm-3 control-label">栏目名：</label>
              <div class="col-sm-6">
                <input type="text" placeholder="栏目名" name="name" value="{if isset($temp['name'])}{$temp['name']}{/if}" class="form-control">
              </div>
            </div>
            <div class="form-group">
				  <label class="col-sm-3 control-label" for="disabledinput">父级栏目：</label>
				  <div class="col-sm-6">
					 <select class="form-control mb15" name="parent_id">
                 		<option value="0" {if isset($temp['parent_id']) && 0==$temp['parent_id']}selected{/if}>顶级栏目</option>
                  		{volist name="psort" id="vo"}
                  		<option value="{$vo.id}" {if isset($temp['parent_id']) && $vo.id==$temp['parent_id']}selected{/if}>{$vo.name}</option>
                  		{/volist}
                	</select>
				  </div>
			</div>
        
           	<div class="form-group">
				  <label class="col-sm-3 control-label" for="disabledinput">模型：</label>
				  <div class="col-sm-6">
					 <select class="form-control mb15" name="typeid">
                 		
                  		{volist name="sorttype" id="vo"}
                  		<option value="{$vo.id}" {if isset($temp['typeid']) && $vo.id==$temp['typeid']}selected{/if}>{$vo.name}</option>
                  		{/volist}
                	</select>
				  </div>
			</div>
       
             
            <div class="form-group">
              <label class="col-sm-3 control-label">是否收费：</label>
              <div class="col-sm-6">
     
               		<div class="rdio rdio-success col-sm-3">
                       
                        <input type="radio" name="charge" value="0" id="radioSuccess" {if $temp['charge'] == 0}checked{/if}>
                        <label for="radioSuccess">收费</label>
                    </div>
                      
                	<div class="rdio rdio-danger col-sm-3">
                        <input type="radio" name="charge" value="1" id="radioDanger" {if $temp['charge'] == 1}checked{/if}>
                        <label for="radioDanger">免费</label>
                  	</div>
                
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">排序：</label>
              <div class="col-sm-6">
                <input type="text" placeholder="排序" name="rank" value="{if isset($temp['rank'])}{$temp['rank']}{/if}" class="form-control">
              </div>
            </div>             
            <div class="panel-footer" style="display: block;">
				 <div class="row">
					<div class="col-sm-6 col-sm-offset-3">
				
					  <button class="btn btn-primary" type="submit">提交</button>&nbsp;
					  <button class="btn btn-default" type="reset">取消</button>
					</div>
				 </div>
			  </div><!-- panel-footer -->

		  </div>
            
          </form>
          
      </div><!-- panel-body -->
        
        
      <!-- row --> 
    </div><!-- contentpanel -->
    
  </div><!-- mainpanel -->

{include file="Public/footer_base" /}


